
:root{
  --main-bg-img-url : url('src/assets/mainBackground.jpeg') ;
  --grass-url : url('src/assets/grass.png') ;
  --btn-color: #1c5e1d ;
}
/* ------------------------------------------------general styling -------------------------------------------------------------------------------------------------*/
body{
  background-color: burlywood;
  
}  
#app{
  min-height: 100vh;
  
}
ul{
  color:white;
  font-family: "roboto regular midbold";
  font-size: large;
  list-style: none;
  margin:0;
  
  display: flex;
}
li{
  margin-left: 20px;
}
li a {
  text-decoration: none;
  color:white
} 
li a:hover {
  color:aliceblue ;
 
}

button {
  color:white;

  border-radius: 5px;
  padding:10px 25px;
  box-shadow: 0 3px 5px 0px rgb(175, 175, 175);
}

button:hover{
  box-shadow: 0 6px 5px 0px grey;
}
/* -------------------------------------specific element property -----------------------------------------------------------*/
main {
  width: 100vw;
  flex :1 ;
  background : var(--main-bg-img-url) 
}


header ul {
  padding: 20px 0 0 0;
}
header ul li button {
  border-top : 2px solid white  ;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 0;
  background-color: transparent;
}
.tabbed {
  
  position: relative;
}
.tabbed button {
  background-color: var(--btn-color);
}
.tabbed::after{
  position: absolute;
  content: '';
  display: block;
  width: 106px;
  height: 16px;
  background: var(--grass-url) no-repeat center top;
  background-size: contain;
  top: 100%;
}

footer ul {
  padding:20px 0 ;
}
/*  --------------------------------------------- utility classes-------------------------------------------------------------*/
/* margin */
.mt-3{
margin-top:30px;
}

/*grid   */
.grid{
  display:grid;
} 

.grid .c2{
grid-template-columns: auto auto;
}


.g1 {
gap:4px;
}
.g2{
gap:8px;
}
.g3 {
gap:16px;
}
.g4 {
gap:32px;
}


.grid.r2{
grid-template-rows: auto auto;
}
.grid.rfill {
grid-template-rows: repeat(auto-fill, auto);
}

.grid.cfill {
grid-template-columns: repeat(auto-fill, auto);
}



/* flex */
.flex{
display:flex;
} 
.flex.c {
flex-direction:column
}
.flex.w {
flex-wrap: wrap;
} 
.flex.w-r{
flex-wrap: wrap-reverse;
}
.flex.vcenter{
align-items: center;
}


/* border */ 
.box1{
  box-shadow: 2px 1.5px 5px 0px #b8b6b6;
}
/*--------------------------------------------card ----------------------------------------------------*/
.card{
  background-color: white;

  padding: 5px 1.5vw;
  text-align:left;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px #8d8c8c;
  cursor: pointer;
}
.card-body {
 padding:15px 0;

} 
.card-body.with-img {
  padding:7px 0;
}
.card-body.with-img img{
  border-radius: 50%; 
}
.card-body.hr{
  border-bottom: 1.5px solid var(--horizontal-rule-color);
}
.card h5.card-heading , .card-body p.card-text{
  margin:0
}
.card-body .card-text{
 color: var(--light-text-color);
 font-size: 0.7rem;
}