
:root{
  --creamy-color : burlywood;
  --main-bg-img-url : url('src/assets/mainBackground.jpeg') ;
  --grass-url : url('src/assets/grass.png') ;
  --carrot-url : url('src/assets/carrot.png');
  --rabbit-url : url('src/assets/rabbit.png');
  --btn-color: #1c5e1d ;
  --card-bg-color:#f8f4ce;
}
@font-face {
  font-family: 'Yasmeen';
  src: url('src/fonts/Yasmen.ttf');
}
/* ------------------------------------------------general styling -------------------------------------------------------------------------------------------------*/
body{
  background-color: var(--creamy-color);
  
}  
#app{
  min-height: 100vh;
  
}
ul{
  color:white;
  font-family: "roboto regular midbold";
  font-size: large;
  list-style: none;
  margin:0;
  
  display: flex;
}
li{
  margin-left: 20px;
}
li a {
  text-decoration: none;
  color:white
} 
li a:hover {
  color:aliceblue ;
 
}

button {
  color:white;

  border-radius: 5px;
  padding:10px 25px;
  box-shadow: 0 3px 5px 0px rgb(175, 175, 175);
}

button:hover{
  box-shadow: 0 6px 5px 0px grey;
}
/* -------------------------------------specific element property -----------------------------------------------------------*/
main {
  width: 100vw;
  flex :1 ;
  background : var(--main-bg-img-url) ;
  
}


header ul {
  padding: 20px 0 0 0;
}
header ul li button {
  border-top : 2px solid white  ;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 0;
  background-color: transparent;
}
.tabbed {
  
  position: relative;
}
.tabbed button {
  background-color: var(--btn-color);
}
.tabbed::after{
  position: absolute;
  content: '';
  display: block;
  width: 106px;
  height: 16px;
  background: var(--grass-url) no-repeat center top;
  background-size: contain;
  top: 100%;
}

footer ul {
  padding:20px 0 ;
} 




/*  --------------------------------------------- utility classes-------------------------------------------------------------*/



/* margin */
.mt-3{
margin-top:30px;
}
.ml-3{
  margin-left: 30px;
}
/*grid   */
.grid{
  display:grid;
} 

.grid .c2{
grid-template-columns: auto auto;
}


.g1 {
gap:4px;
}
.g2{
gap:8px;
}
.g3 {
gap:16px;
}
.g4 {
gap:32px;
}


.grid.r2{
grid-template-rows: auto auto;
}
.grid.rfill {
grid-template-rows: repeat(auto-fill, auto);
}

.grid.cfill {
grid-template-columns: repeat(auto-fill, auto);
}



/* flex */
.flex{
display:flex;
} 
.flex.c {
flex-direction:column
}
.flex.space-bw{
  justify-content: space-between;
}
.flex.w {
flex-wrap: wrap;
} 
.flex.w-r{
flex-wrap: wrap-reverse;
}
.flex.vcenter{
align-items: center;
}

/* z-index utility class */
.pos_rel{
  position: relative;
}
.zlowest{
  z-index: -1;
}
.zmid{
  z-index: 0;
} 
.zhighest{
  z-index: -1;
}

/* border */ 
.box1{
  box-shadow: 2px 1.5px 5px 0px #b8b6b6;
}
/*--------------------------------------------card ----------------------------------------------------*/
.card{
  background-color: var(--btn-color);
  margin:40px auto;
  width:fit-content;
  
  text-align:justify;

  clip-path: polygon( 0 33.3%, 6% 0, 94% 0, 100% 33.3%, 100% 66.6%, 94% 100%, 6% 100%, 0 66.6%);
   cursor: pointer;
   position: relative;
}

.card-body {
 background-color: var(--card-bg-color);
 margin:20px;
 padding:15px 20px;
 clip-path: polygon( 0 33.3%, 5% 0, 95% 0, 100% 33.3%, 100% 66.6%, 95% 100%, 5% 100%, 0 66.6%);
} 

.card .with-img img{
  border-radius: 5%; 
  border: 2px solid var(--btn-color)
}
.card-body.hr{
  border-bottom: 1.5px solid var(--horizontal-rule-color);
}
.card h5.card-heading , .card-body p.card-text{
  margin:0
}
.card-body .card-text{
 color: var(--light-text-color);
 font-size: 1rem;
}    
.card-text {
  line-height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --------------------------------fonts ----------------------------*/
.cursive_font{
font-family: 'Yasmeen',cursive;
} 

.sub_head_font {
font-family: 'Courier New', Courier, monospace;
}
/*-----------------specific cards -----------------------------------*/
/* card with width as content */
.card.carrot.fit-content{
  min-width: 350px;
}


.card.carrot{

min-width: 80%;
}  
.card.carrot ::after {
  position: absolute;
content: '';
background: var(--carrot-url) ;
background-size: contain;
width:100px;
height: 100px;
top:25px;
left:5%;
transform: rotateZ(186deg);
}
.card.carrot ::before {
  position: absolute;
content: '';
background: var(--carrot-url) ;
background-size: contain;
width:100px;
height: 100px;
top:25px;
right:6%;
} 


/*   for cards without carrots */
.card:not(.carrot) {
  max-width: 500px;
  
}
.card:not(.carrot) .card-body{
  margin:40px
} 
.card:not(.carrot) .card-body .wrapper{
  padding:20px 10px;
} 


 /* rabbit at left of card */ 
 .card.menu_item {
  margin-top: 80px;
  min-width: 300px;
 } 
 .card.menu_item .card-body{
  margin: 10px;
 }
 .card.menu_item::after {
  position: absolute;
  content: '';
  background: var(--rabbit-url) ;

  background-size: contain;
  width:100px;
  height: 100px;
  bottom: 1%;
  right:1% ;
 }
/* rabbit on card */ 

 .rabbit_icon{
  z-index: 2;
  position: absolute;
  content: '';
  background: var(--rabbit-url) ;

  background-size: contain;
  width:100px;
  height: 100px;
  top: 14%;
  left:calc( 50% - 50px) ;
}  


